        <div class="row">
            <div class="col-8">
                <div id="instructorList" class="form-group">
                    <label for="instructorList">Current Instructors:</label>
                    {{#each course.instructors}}
                        <div class="row">
                        <div class="col-11 pr-0">
                            <input type="text" disabled class="form-control instructorId" id={{instructorId}} value="{{{limitLength instructorName}}}">
                        </div>
                        {{#if ../admin}}
                        <div class="pl-0 col-1 deleteInstructor text-danger text-center">
                            <span class="fas fa-minus-circle"></span>
                        </div>
                        {{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="col-4">
                {{#if admin}}
                <form id='selectTeachers' class="form-group">
                        
                        <label>Add teacher:</label>
                        <div class="col-12 p-0">
                            <select class="form-control" id="instructorId" name="instructorId">
                            {{#each teachers}}
                                <option value="{{id}}">{{surname}}, {{firstname}}</option>
                            {{/each}}
                            </select>
                        </div>
                        <div class="col-4 p-0">
                            <button id="addTeacher" type="submit" class="btn btn-sm btn-primary">Submit</button>
                        </div>
                        
                </form>
                {{/if}}    
            </div>
        </div>
