    {{#each threads}}
    <hr>

        <div class="thread">
            <div class="main">
                <div class="id d-none">{{id}}</div>
                <p>({{created_on}})</p>
                
                <h4>{{text}}</h4>
                <input class="btn btn-sm btnReport" type="button" value="Report">
                {{#if ../admin}}<input class="btn btn-sm btnDelete" type="button" value="Delete">{{/if}}
                <span class="text-primary feedback"></span>
            </div>
            
            <div class="replies">
                <a href="#">See the full thread here</a>.</h5>
                <div class="newReply">
                    <form action="/api/replies/{{../id}}/" method="post" id="newReply"><input type="hidden" name="threadId"
                            value="{{id}}"><textarea rows="1" cols="80" type="text"
                            placeholder="Quick reply..." name="text" required=""></textarea><br>
                            <input style="margin-left: 5px" type="submit" value="Submit"></form>
                </div>
            </div>
            
        </div>
    {{/each}}
