              <div class="form-group">
                  <label for="questionType">Type:</label>
                  <select class="form-control" name="questionType" id="questionType">
                    <option {{{selectedIfEqual currentQuestion.type "single"}}} value="single">Multiple choice, single answer</option>
                    <option {{{selectedIfEqual currentQuestion.type "multi"}}} value="multi">Multiple choice, multiple answers</option>
                    <option {{{selectedIfEqual currentQuestion.type "text"}}} value="text">Text response</option>
                    <option {{{selectedIfEqual currentQuestion.type "essay"}}} value="essay">Essay response</option>
                    <option {{{selectedIfEqual currentQuestion.type "instructional"}}} value="instructional">Instructional</option>
                    <option {{{selectedIfEqual currentQuestion.type "projectSubmission"}}} value="projectSubmission">Project Submission</option>
                  </select>
                <label style="width: 100%" for="question">Question:</label>
                <textarea class="form-control" name="question" id="question" rows="{{{calculateRows currentQuestion.question}}}" placeholder="Enter question...">{{currentQuestion.question}}</textarea>
                {{> questionResponse }}
                
                
                <input class="d-none" type="text" name="questionId" id="questionId" value="{{currentQuestion._id}}">
                {{#if currentQuestion.imageLocation}}
                  <div class="col-12">
                    <div class="row"><label style="width: 100%" for="currentImage">Current image:</label></div>
                    <div class="row"><img id="currentImage" width="200px" src="/public/uploads/{{currentQuestion.imageLocation}}" alt="Question Image"></div>
                  </div>
                {{/if}}

                  <label style="width: 100%" for="file">Upload new image:</label>
                  <input type="file" class="form-control-file" name="file" id="file" placeholder="Upload image" aria-describedby="" accept=".jpg, .jpeg, .png">

                <div class="{{{hideIfNotEqual currentQuestion.type 'instructional'}}}">
                  <label style="width: 100%" for="video">Upload new video:</label>
                  <input type="file" class="form-control-file" name="video" id="video" placeholder="Upload video" aria-describedby="" accept="audio/*,video/*">
                </div>

              </div>