              <div class="form-group">
                  <label for="questionType">Type:</label>
                  <select class="form-control" name="questionType" id="questionType">
                    <option {{{selectedIfEqual currentQuestion.type "single"}}} value="single">Multiple choice, single answer</option>
                    <option {{{selectedIfEqual currentQuestion.type "multi"}}} value="multi">Multiple choice, multiple answers</option>
                    <option {{{selectedIfEqual currentQuestion.type "text"}}} value="text">Text response</option>
                    <option {{{selectedIfEqual currentQuestion.type "essay"}}} value="essay">Essay response</option>
                    <option {{{selectedIfEqual currentQuestion.type "instructional"}}} value="instructional">Instructional</option>
                    <option {{{selectedIfEqual currentQuestion.type "projectSubmission"}}} value="projectSubmission">Project Submission</option>
                  </select>
                <label style="width: 100%" for="question">Question:</label>
                <textarea class="form-control" name="question" id="question" rows="{{{calculateRows currentQuestion.question}}}" placeholder="Enter question...">{{currentQuestion.question}}</textarea>
                {{> questionResponse }}
                
                
                <input class="d-none" type="text" name="questionId" id="questionId" value="{{currentQuestion._id}}">
                
                <div class="row">
                  <div class="col-6 pr-0">
                    {{#if currentQuestion.imageLocation}}
                    <label style="width: 100%" for="currentImage">Current image:</label>
                    <div class="mediaContainer"><img id="currentImage" src="/public/uploads/{{currentQuestion.imageLocation}}" alt="Question Image"></div>
                    {{/if}}
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="file" id="file" accept=".jpg, .jpeg, .png">
                      <label class="custom-file-label" for="file">New image</label>
                    </div>
                  </div>
                  <div class="col-6 pl-0">
                    {{#if currentQuestion.videoLocation}}
                    <label style="width: 100%" for="currentVideo">Current video:</label>
                    <div class="mediaContainer"><video id="currentVideo" src="/public/uploads/{{currentQuestion.videoLocation}}" alt="Question Video"></video></div>
                    {{!-- <img id="currentImage" height="100px" src="/public/uploads/{{currentQuestion.imageLocation}}" alt="Question Image"> --}}
                    {{/if}}
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="video" id="video" accept="video/*">
                      <label class="custom-file-label" for="video">New video</label>
                    </div>
                  </div>
                </div>
              </div>