              <div class="form-group">
                <label style="width: 100%" for="question">Question:</label>
                <textarea class="form-control" name="question" id="question" rows="2" placeholder="Enter question...">{{currentQuestion.question}}</textarea>
                <label for="question">Choices:</label>
                  {{#each currentQuestion.choices}}
                  <div class="row">
                      <div class="col-1 checkboxContainer" >
                          <input name="checkbox{{@index}}" type="checkbox" {{{booleanCheckboxHelper correct}}}>
                      </div>
                      <div class="col-11">
                          <input name="text{{@index}}" type="text" class="form-control" aria-describedby="helpId" placeholder="Enter text..." value="{{text}}">
                      </div>
                  </div>
                  {{/each}}
                  <input class="d-none" type="text" name="questionId" id="questionId" value="{{currentQuestion._id}}">
                  {{#if currentQuestion.imageLocation}}
                    <div class="col-12">
                      <div class="row"><label style="width: 100%" for="currentImage">Current image:</label></div>
                      <div class="row"><img id="currentImage" width="200px" src="/public/uploads/{{currentQuestion.imageLocation}}" alt="Question Image"></div>
                    </div>
                  {{/if}}
                  {{!-- <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png"> --}}
                  
                  <div class="form-group">
                    <label style="width: 100%" for="file">Upload new image:</label>
                    <input type="file" class="form-control-file" name="file" id="file" placeholder="Upload image" aria-describedby="fileHelpId" accept=".jpg, .jpeg, .png">
                  </div>

              </div>