
<div class="progress my-1">
    <div class="progress-bar" role="progressbar" style="width: {{{divide currentQuestionNumber totalQuestions}}}%;" aria-valuenow="{{currentQuestionNumber}}" aria-valuemin="0" aria-valuemax="{{totalQuestions}}">{{currentQuestionNumber}} of {{totalQuestions}}</div>
</div>
<div class="form-group row">
    {{#if currentQuestion.imageLocation}}
    <div class="col-7">
    {{else}}
    <div class="col-12">
    {{/if}}    
        <input type="hidden" id="questionType" name="questionType" value="{{currentQuestion.type}}">
        <label style="width: 100%" for="question">Question #{{currentQuestionNumber}}: <span id="correctOrIncorrect"></span></label>
        <div id="questionRaw" class="d-none">{{currentQuestion.question}}</div>
        <div id="questionMarked"></div>

        <div id="responseCheckboxes" class="{{{hideIfNotEqual currentQuestion.type "multi" "single"}}}">
            <label for="question">Select your answer(s):</label>
            {{#each currentQuestion.choices}}
            <div class="row {{{hideIfNot text}}}">
                {{#if ../reviewMode}}
                    {{#if ../showAnswers}}
                    <div class="col-1 px-0">
                        <label class="customCheckboxContainer">
                        <input disabled id="answer{{@index}}" name="answer{{@index}}" type="checkbox" {{{booleanCheckboxHelper correct}}}>
                        <span class="checkmark"></span>
                        </label>
                    </div>
                    {{/if}}
                {{else}}
                    <div class="col-1 px-0"></div>
                {{/if}}

                <div class="col-1 checkboxContainer px-0" >
                    <input class="checkbox" id="checkbox{{@index}}" name="checkbox{{@index}}" type="checkbox" {{{disabledIf ../reviewMode}}}>
                </div>
                <div class="col-10">
                    <textarea name="text{{@index}}" rows="{{{calculateRowsShort text}}}" disabled class="form-control" aria-describedby="helpId">{{text}}</textarea>
                </div>

            </div>
            {{/each}}
        </div>
        

        <div id="responseText" class="{{{hideIfNotEqual currentQuestion.type "text"}}}">
            <label for="answerText">Response:</label>
            <input type="text" class="form-control" name="answerText" id="answerText" aria-describedby="helpId" placeholder="Enter response..." value="{{currentQuestion.answerText}}">
            <small id="helpId" class="form-text text-muted">Enter your response above.</small>

            {{#if reviewMode}}
                {{#if showAnswers}}
                <label>Expected Response (Regex):</label><br>
                /{{currentQuestion.answerTextRegex}}/
                {{/if}}
            {{/if}}

        </div>
        
        <div id="responseEssay" class="{{{hideIfNotEqual currentQuestion.type "essay"}}}">
            <label for="answerEssay">Essay:</label>
            <textarea class="form-control" name="answerEssay" id="answerEssay" rows="4" placeholder="Enter response...">{{currentQuestion.answerEssay}}</textarea>
            <small id="helpId" class="form-text text-muted">Enter your response above.</small>
            {{#if reviewMode}}
                {{#if showAnswers}}
                <label>Expected Response (Regex):</label><br>
                /{{currentQuestion.answerEssayRegex}}/
                {{/if}}
            {{/if}}
        </div>

        <div id="projectSubmission" class="{{{hideIfNotEqual currentQuestion.type "projectSubmission"}}}">
            <div id="userProjectLink"></div>
            
            {{#unless reviewMode}}
            <label for="projectSubmissionForm">Submit Project:</label>
            <div class="custom-file">
                <form id="projectSubmissionForm">
                    <input type="file" class="custom-file-input" name="file" id="file" accept=".zip">
                    <label id="projectFileLabel" class="custom-file-label" for="file">Choose file</label>
                    <div class="mt-2"><small class="font-italic">Please use filename convention: [lastname]-[firstname]-[project].zip</small></div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            {{/unless}}
        </div>

        {{#if currentQuestion.videoLocation}}
            <div class="bigMediaContainer"><video class="videoPresentation" src="/public/uploads/{{currentQuestion.videoLocation}}" alt="Question Video" controls></video></div>
        {{/if}}

        <hr>
    </div>
    {{#if currentQuestion.imageLocation}}
    <div class="col-5">
        <div class="mt-3"><img width="100%" src="/public/uploads/{{currentQuestion.imageLocation}}" alt="Question Image"></div>
    </div>
    {{/if}}
    <input class="d-none" type="text" name="questionId" id="questionId" value="{{currentQuestion._id}}">
</div>

