                        <label>Quizzes:</label>
                        <div class="col" id="quizList">
                            {{#each quizzes}}
                            <div class="row userQuiz">
                                <input type="hidden" name="userQuizId" id="userQuizId" value="{{_id}}">
                                <input type="hidden" name="quizId" id="quizId" value="{{quizId}}">
                                <div class="col-6">{{quizName}}</div>
                                <div class="col-3">{{{shortDate date}}}</div>
                                <div class="col-3">{{score}}%</div>
                            </div>
                            {{/each}}
                        </div>
