
                                    <input type="hidden" name="id" value="{{_id}}">
                                    <div>
                                        <label for="username">Username:</label>
                                        <input type="text" id="username" name="username" value="{{username}}">
                                    </div>
                                    <div>
                                        <label for="firstname">First name:</label>
                                        <input type="text" id="firstname" name="firstname" value="{{firstname}}">
                                    </div>
                                    <div>
                                        <label for="surname">Last name:</label>
                                        <input type="text" id="surname" name="surname" value="{{surname}}">
                                    </div>
                                    <div>
                                        <label for="password">Password:</label>
                                        <input type="password" name="password" id="password">
                                    </div>
                                    <div>
                                        <label for="confirm">Confirm:</label>
                                        <input type="password" name="confirm" id="confirm">
                                    </div>

                                    {{#if admin}}                                        
                                    <div>
                                        
                                        <label style="position: absolute" for="roles">Roles:</label>
                                        <select style="margin: 6px 0px 0px 104px; width: 178px;" multiple name="roles">
                                            <option value="admin" {{{selectedForRole roles "admin"}}}>Administrator</option>
                                            <option value="student" {{{selectedForRole roles "student"}}}>Student</option>
                                        </select>
                                    </div>
                                    {{/if}}
                                    <div>
                                        <button type="submit" class="btn btn-primary my-2" value="Register">Submit</button>
                                    </div>
