<!DOCTYPE html>
<html lang="en">
<head>

    <title>CourseApp Admin Interface</title>
    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        {{> navbar }}
        
        <div class="pt-1 jumbotron jumbotron-fluid">
            <div id="adminInterface" class="container">
                <div id='admin' class='d-none'>{{admin}}</div>
                <div id='courseId' class='d-none'>{{course._id}}</div>
                <div class="row">
                    <div class="col-10 p-0">
                        <h1 class="display-4">Admin: {{course.name}}</h1>
                    </div>
                    <div class="col-2 mt-4"><button id="deleteCourse" type="button" class="btn btn-danger"><i class="fas fa-minus-circle"></i> Delete</button></div>
                </div>

                <div class="row">

                    <div class="col-8 border">
                        
                        <div id="instructors">
                        {{> instructors }}
                        </div>

                        <label for="description">Description:</label>
                        <input type="text" class="form-control" name="description" id="description" aria-describedby="helpId2" value="{{course.description}}">
                        <small id="helpId2" class="form-text text-muted">Short Description</small>
                        
                        <label for="homeContent">Homepage contents:</label>
                        <textarea class="form-control" rows="8s" name="homeContent" id="homeContent" aria-describedby="helpId">{{course.homeContent}}</textarea>
                        <small id="helpId" class="form-text text-muted">Homepage contents (HTML and Markdown supported)</small>
                        
                        <button type="button" id="saveCourseDetails" class="btn btn-primary mt-4"><i class="fas fa-save"></i> Save</button>
                    
                    </div>

                    <div class="col-4 border">
                        
                        <form class="form-group" id="newQuiz" method="post" action="/quiz">
                            <div class="row">
                                <label>Add Module:</label>
                                <div class="col-12 p-0">
                                    <input type="text" class="form-control" name="quizName" id="quizName" aria-describedby="helpId" placeholder="">
                                </div>
                                <div class="col-4 p-0">
                                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                </div>
                                <small class="form-text text-muted ml-5">Enter the name</small>
                            </div>
                        </form>
                        <form class="form-group" id='selectQuiz' action="/quiz" method="get">
                            {{> selectQuiz }}
                        </form>
                        <button id="btnOrdering" type="button" class="btn btn-sm btn-secondary row mt-1" data-toggle="modal" data-target="#modalContainer">Ordering</button>
                        {{#if admin}}
                        <form id='selectTeachers' class="form-group">
                            <div class="row">
                                <label>Add teacher:</label>
                                <div class="col-12 p-0">
                                    <select class="form-control" id="instructorId" name="instructorId">
                                    {{#each teachers}}
                                        <option value="{{_id}}">{{surname}}, {{firstname}}</option>
                                    {{/each}}
                                    </select>
                                </div>
                                <div class="col-4 p-0">
                                    <button id="addTeacher" type="submit" class="btn btn-sm btn-primary">Submit</button>
                                </div>
                                <small class="form-text text-muted ml-5">Select from list</small>
                            </div>
                        </form>
                        {{/if}}

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <span class="text-primary" id="feedback">{{feedback}}</span>
                   </div>
                </div>
            </div>
        </div>

    </div>
    {{> modalContainer modules=true }}
    <script src="/viewScripts/courseAdminScripts.js"></script>
    
</body>
</html>