<!DOCTYPE html>
<html lang="en">
<head>

    <title>CourseApp Admin Interface</title>
    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        {{> navbar }}
        
        <div class="pt-1 jumbotron jumbotron-fluid">
            <div id="adminInterface" class="container">
                <div id='admin' class='d-none'>{{admin}}</div>
                <div id='courseId' class='d-none'>{{course._id}}</div>
                <div class="row">
                    <div class="col-10 p-0">
                        <h1 class="display-4">Admin: {{course.name}}</h1>
                    </div>
                    <div class="col-2 mt-4"><button id="deleteCourse" type="button" class="btn btn-danger"><i class="fas fa-minus-circle"></i> Delete</button></div>
                </div>

                <div id="accordianId" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="section0HeaderId">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordianId" href="#section0ContentId" aria-expanded="true" aria-controls="section1ContentId">
                        Homepage Content
                        </a>
                            </h5>
                        </div>
                        <div id="section0ContentId" class="collapse in" role="tabpanel" aria-labelledby="section0HeaderId">
                            <div id="instructors" class="card-body">
                                
                                <label for="description">Description:</label>
                                <input type="text" class="form-control" name="description" id="description" aria-describedby="helpId2" value="{{course.description}}">
                                <small id="helpId2" class="form-text text-muted">Short Description</small>
                                
                                <label for="homeContent">Homepage contents:</label>
                                <textarea class="form-control" rows="8" name="homeContent" id="homeContent" aria-describedby="helpId">{{course.homeContent}}</textarea>
                                <small id="helpId" class="form-text text-muted">Homepage contents (HTML and Markdown supported)</small>
                                
                                <button type="button" id="saveCourseDetails" class="btn btn-sm btn-primary btn-std mt-4"><i class="fas fa-save"></i> Save</button>
                            
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="section1HeaderId">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
                        Modules
                        </a>
                            </h5>
                        </div>
                        <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
                            <div id="modules" class="card-body">
                                
                                <div class="row">
                                    <div class="col-6">
                                    <form class="form-group" id="newQuiz" method="post" action="/quiz">
                                            <label>Add Module:</label>
                                            <input type="text" class="form-control" name="quizName" id="quizName" aria-describedby="helpId" placeholder="Enter module name...">
                                            <button type="submit" class="btn btn-sm btn-primary btn-std">Submit</button>
                                    </form>
                                    </div>
                                    <div class="col-6">
                                    <form class="form-group" id='selectQuiz' action="/quiz" method="get">
                                        {{> selectQuiz }}
                                    </form>
                                    <button id="btnOrdering" type="button" class="btn btn-sm btn-secondary btn-std mt-1" data-toggle="modal" data-target="#modalContainer">Ordering</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="section2HeaderId">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordianId" href="#section2ContentId" aria-expanded="true" aria-controls="section1ContentId">
                        Instructors
                        </a>
                            </h5>
                        </div>
                        <div id="section2ContentId" class="collapse in" role="tabpanel" aria-labelledby="section2HeaderId">
                            <div id="instructors" class="card-body">
                                {{> instructors }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="section3HeaderId">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordianId" href="#section3ContentId" aria-expanded="true" aria-controls="section2ContentId">
                        Students
                        </a>
                            </h5>
                        </div>
                        <div id="section3ContentId" class="collapse in" role="tabpanel" aria-labelledby="section3HeaderId">
                            <div class="card-body">
                                {{> students }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <span class="text-primary" id="feedback">{{feedback}}</span>
                   </div>
                </div>
            </div>
        </div>

    </div>
    {{> modalContainer modules=true }}
    <script src="/viewScripts/courseAdminScripts.js"></script>
    
</body>
</html>