<!DOCTYPE html>
<html lang="en">
<head>

    <title>quiZap Course Page</title>

    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true marked=true }}

</head>
<body>
    <input type="hidden" id="userId" value="{{userId}}">
    <div class="outerContainer">
        {{> navbar quizActive='active' }}
        <div class="limit-mt jumbotron jumbotron-fluid">
            <div class="container p-0">
                <input type="hidden" id="courseId" value="{{course.id}}">
                <div class="row">
                    <div class="col-9"><h1 class="form-text display-4">{{course.name}}</h1></div>
                    <div class="col-3">
                        <nav class="navbar navbar-expand navbar-light">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#messageBoardContainer">Messageboard</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <header class="row">
                    <div class="col-7">
                        <div id="description">{{course.description}}</div>
                    </div>
                    <div class="col-5">
                        <form id='selectQuiz'>
                            {{> selectQuiz}}
                        </form>
                    </div>
                </header>

                <main class="row"><div class="col-12 p-0">
                    <label for="homeContentMarked"></label>
                    <div class="d-none" id="homeContentRaw">{{course.homeContent}}</div>
                    <div class="form-text border" id="homeContentMarked"></div>
                </div></main>

                <div id="messageBoardContainer">
                    <hr>
                    <div class="h3 font-weight-bold">{{course.name}} Messageboard:</div>

                    <label for="newThreadText">Submit a new thread:</label>
                    <div id='submitNewThread' class="row m-auto">
                        <textarea rows="2" type='text' placeholder='Thread text...' id='newThreadText' required=''></textarea><br>
                        <button class='btn btn-sm btn-primary btn-limitedHeight' id="btnSubmitNewThread" type="submit" value="Submit">Submit</button>
                    </div>
                    <div id='messageBoard'></div>

                </div>
                <div class="row">
                    <div class="col-12"><div class="col-12">
                        <span class="text-primary" id="feedback"></span>
                   </div></div>
                </div>
            </div>
        </div>
    </div>


    <script src="../viewScripts/courseScripts.js"></script>
</body>
</html>