<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{username}} Profile</title>

    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        {{> navbar profileActive='active' }}

            <div class="limit-mt jumbotron jumbotron-fluid">
                <div class="container">


                    <div class="row">
                        <div class="col-12">
                            <span class="text-primary" id="feedback">{{feedback}} </span>
                        </div>
                    </div>

                    <main id="profileMain">
                        
                        <h1 class="display-4">Hello {{firstname}}!</h1>
                        <hr class="my-2">
                        <div class="row">

                            <div class="col-6">
                                <h4>Change account details:</h4>
                                <form id="userUpdateForm" action="/updateAccount" method="post">
                                    <input type="hidden" name="id" value="{{_id}}">
                                    <div>
                                        <label for="username">Username:</label>
                                        <input type="text" id="username" name="username" value="{{username}}">
                                    </div>
                                    <div>
                                        <label for="firstname">First name:</label>
                                        <input type="text" id="firstname" name="firstname" value="{{firstname}}">
                                    </div>
                                    <div>
                                        <label for="surname">Last name:</label>
                                        <input type="text" id="surname" name="surname" value="{{surname}}">
                                    </div>
                                    <div>
                                        <label for="password">Password:</label>
                                        <input type="password" name="password" id="password">
                                    </div>
                                    <div>
                                        <label for="confirm">Confirm:</label>
                                        <input type="password" name="confirm" id="confirm">
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary my-2" value="Register">Submit</button>
                                    </div>
                                </form>
                            </div>

                            <div class="col-6">
                                <h4>My Quiz History:</h4>
                                <div id="quizListContainer">
                                    <label>Quizzes:</label>
                                    <div class="col" id="quizList">
                                        {{#each quizzes}}
                                        <form class="row userQuiz">
                                            <input type="hidden" name="userQuizId" value="{{_id}}">
                                            <input type="hidden" name="quizId" value="{{quizId}}">
                                            <div class="col-6 noclick">{{quizName}}</div>
                                            <div class="col-3 noclick">{{{shortDate date}}}</div>
                                            <div class="col-3 noclick">{{score}}%</div>
                                        </form>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </main>
                    <hr class="my-2">
                    <p>Copyright <i class="fas fa-copyright"></i> Norton 2021</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/quiz" role="button">Take a quiz</a>
                    </p>
            </div>

    </div>
    <script src="/viewScripts/profileScripts.js"></script>
</body>
</html>