<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{username}} Profile</title>

    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        {{> navbar profileActive='active' }}

            <div class="limit-mt jumbotron jumbotron-fluid">
                <div class="container">


                    <div class="row">
                        <div class="col-12">
                            <span class="text-primary" id="feedback">{{feedback}} </span>
                        </div>
                    </div>

                    <main id="profileMain">
                        
                        <h1 class="display-4">Hello {{firstname}}!</h1>
                        <hr class="my-2">
                        <div class="row">

                            <div class="col-6">
                                <h4>Change account details:</h4>
                                <form id="userUpdateForm" action="/updateAccount" method="post">
                                    {{> userUpdateForm }}
                                </form>
                            </div>

                            <div class="col-6" style="max-height: 260px; overflow: scroll;">
                                <h4>My Quiz History:</h4>
                                <div id="quizListContainer">
                                    <label>Quizzes:</label>
                                    <div class="col" id="quizList">
                                        {{#each quizzes}}
                                        <form class="row userQuiz">
                                            <input type="hidden" name="userQuizId" value="{{_id}}">
                                            <input type="hidden" name="quizId" value="{{quizId}}">
                                            <div class="col-6 noclick">{{quizName}}</div>
                                            <div class="col-3 noclick">{{{shortDate date}}}</div>
                                            <div class="col-3 noclick">{{score}}%</div>
                                        </form>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div id="quizGraph" class="col-12 text-center my-3">
                                <canvas id="quizGraphCanvas" width="640" height="200"></canvas>
                                <svg id="quizGraphSVG" width="640" height="200"></svg>

                            </div>
                        </div>
                    </main>
                    <hr class="my-2">
                    <p>Copyright <i class="fas fa-copyright"></i> Norton 2021</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/quiz" role="button">Take a quiz</a>
                    </p>
            </div>

            <div class="d-none" id="scoreArrays">{{scoreArrays}}</div>

    </div>
    <script src="/viewScripts/profileScripts.js"></script>
    <script src="http://redrockcodecamp.org/educationMaterials/frameworks/js/d3/4.3.0/d3.min.js"></script>
    <script src="/viewScripts/profileScripts_d3.js"></script>
</body>
</html>