<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{username}} Public Profile</title>

    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>

<body>

    <div class="outerContainer">

        {{> navbar profileActive='active' }}

        <div class="pt-1 jumbotron jumbotron-fluid">
            <div class="container">


                <div class="row">
                    <div class="col-12">
                        <span class="text-primary" id="feedback">{{feedback}} </span>
                    </div>
                </div>

                <main id="profileMain">

                    <h1 class="display-4">Profile: {{username}}</h1>
                    <hr class="my-2">
                    <div class="row">
                        {{#if teacher}}
                        <div class="col-12">

                                <div class="row card-header pl-1">
                                    <div class="col-12">
                                        <h4>My Courses</h4>
                                    </div>
                                </div>

                                {{#each myCourses}}
                                <form class="row card mx-0">
                                    <div class="col-12">
                                        <div class="courseLink"><a href="/course/{{_id}}"><h5>{{name}}</h5></a></div>
                                    </div>
                                </form>
                                {{/each}}
                                <hr>
                        </div>
                        {{/if}}


                        <div class="col-12 my-3">
                            <div class="row card-header">
                                    <div class="col-5 pl-0"><h4>My Activity</h4></div>    
                                    <div class="col-2">Score:</div>
                                    <div class="col-2">Time:</div>
                                    <div class="col-3">Date:</div>
                            </div>
                            <div id="accordianId" role="tablist" aria-multiselectable="true">
                                {{#each scoreArraysObj}}
                                <div class="card">
                                    <div class="card-header" role="tab" id="">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordianId"
                                                href="#section{{@index}}ContentId" aria-expanded="true"
                                                aria-controls="section{{@index}}ContentId">
                                                <div class="row">
                                                    <div class="col-5">{{@key}}</div>    
                                                    <div class="col-2">{{averageScore}}</div>
                                                    <div class="col-2">{{{secondsToMMSS overallTime}}}</div>
                                                    <div class="col-3">{{{shortDate lastQuiz}}}</div>
                                                </div>
                                                  
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="section{{@index}}ContentId" class="collapse in" role="tabpanel"
                                        aria-labelledby="section{{@index}}HeaderId">
                                        {{#each quizzes}}
                                        <div class="card-body py-2">
                                                <div class="row">
                                                    <div class="col-5">{{name}}</div>    
                                                    <div class="col-2">{{score}}</div>
                                                    <div class="col-2">{{{secondsToMMSS timePassed}}}</div>
                                                    <div class="col-3">{{{shortDate date}}}</div>
                                                </div>
                                        </div>
                                        {{/each}}
                                    </div>

                                </div>
                                {{/each}}

                            </div>
                        </div>
                        

                    </div>
                    <div id="quizGraph" class="text-center my-3">
                        <div class="d-none">
                            <canvas id="quizGraphCanvas" width="400" height="200"></canvas>
                        </div>
                        <div>
                            <svg id="quizGraphSVG" width="400" height="200"></svg>
                        </div>

                        <hr class="my-2">
                        <p>Copyright <i class="fas fa-copyright"></i> Norton 2021</p>

                    </div>
                </main>

            </div>

            <div class="d-none" id="scoreArrays">{{scoreArrays}}</div>

        </div>
        <script src="/viewScripts/publicProfileScripts.js"></script>
        <script src="/cdn/js/d3/4.3.0/d3.min.js"></script>
        <script src="/viewScripts/profileScripts_d3.js"></script>
</body>

</html>