<!DOCTYPE html>
<html lang="en">
<head>

    <title>quiZap Admin Interface</title>
    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        {{> navbar }}

        <div class="jumbotron jumbotron-fluid limit-mt">
            <div id="adminInterface" class="container">
                <div id='courseId' class='d-none'>{{courseId}}</div>
                <div id='quizId' class='d-none'>{{quiz._id}}</div>
                <div class="row">
                    <div class="col-10 p-0">
                        <h2 class="display-4">Admin: {{quiz.name}}</h2>
                    </div>
                    <div class="col-2 mt-4"><button id="deleteQuiz" type="button" class="btn btn-danger"><i class="fas fa-minus-circle"></i> Delete</button></div>
                </div>
                <div class="row">
                    <div class="col-6 p-0">
                      <label for="quizDescription"></label>
                      <input type="text" class="form-control" name="quizDescription" id="quizDescription" aria-describedby="helpId" value="{{quiz.description}}">
                      <small id="helpId" class="form-text text-muted">Quiz description</small>
                    </div>
                    <div class="col-2 p-0">
                          <label for="quizTimeLimit"></label>
                          <input type="text" class="form-control" name="quizTimeLimit" id="quizTimeLimit" aria-describedby="helpId2" value="{{quiz.timeLimit}}">
                          <small id="helpId2" class="form-text text-muted">Time limit (min)</small>
                    </div>
                    <div class="col-2 p-0">
                          <label for="quizMaxAttempts"></label>
                          <input type="text" class="form-control" name="quizMaxAttempts" id="quizMaxAttempts" aria-describedby="helpId3" value="{{quiz.maxAttempts}}">
                          <small id="helpId3" class="form-text text-muted">Max attempts</small>
                    </div>
                    <div class="col-2 p-0 text-center">
                          <button type="button" id="saveQuiz" class="btn btn-primary mt-4"><i class="fas fa-save"></i> Save</button>
                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-6 p-0">
                        <div class="row">
                            <div class="col-4"><button id="btnNewQuestion" type="button" class="btn btn-block btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Add</button></div>
                            <div class="col-4 pr-1"><button id="btnSaveQuestion" type="submit" class="d-none btn btn-primary btn-block "><i class="fa fa-check" aria-hidden="true"></i> Save</button></div>
                            <div class="col-4 pl-1"><button id="btnCancel" type="button" class="d-none btn btn-danger btn-block "><i class="fas fa-backspace"></i> Cancel</button></div>
                        </div>
                        <form class="d-none" id="questionDetail" method="post" action="/quizAdmin/{{quiz._id}}">
                            {{> questionDetail }}
                        </form>

                    </div>
                    <div class="col-6 p-0">
                        <div id="questionListContainer">
                            {{> questionList}}
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 p-0">
                        <span class="text-primary" id="feedback">{{feedback}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/viewScripts/quizAdminScripts.js"></script>

</body>
</html>