<!DOCTYPE html>
<html lang="en">
<head>

    <title>quiZap Quiz Interface</title>

    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true react=true redux=true marked=true }}

</head>
<body>

    <div class="outerContainer">
        {{> navbar quizActive='active' }}

        <div class="limit-mt jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12"><h1 class="display-4">{{quizName}}</h1></div>
                    <input type="hidden" id="quizId" value="{{quizId}}">
                    <input type="hidden" id="totalQuestions" value={{totalQuestions}}>
                    <input type="hidden" id="timeLimit" value={{timeLimit}}>
                    <input type="hidden" id="maxAttempts" value={{maxAttempts}}>
                    <input type="hidden" id="userId" value="{{userId}}">
                    <input type="hidden" id="reviewMode" value={{reviewMode}}>
                </div>
                <main id="quizInterface">
                    {{!-- {{> quizQuestion }} --}}
                    <div class="row">
                        <div class="col-10">
                            <span class="text-primary" id="feedback"></span>
                        </div>
                        <div id="quizTimer"></div>
                    </div>
                    <div id="quizControls" class="row">
                        <div class="col-2">
                            <button id="previousQuestion" class="btn d-none">Back <span class="badge badge-primary"><i class="fas fa-minus"></i></span></button>
                        </div>
                        <div class="col-2">
                            <button id="nextQuestion" class="btn d-none">Next <span class="badge badge-primary"><i class="fas fa-plus"></i></span></button>
                        </div>
                        <div class="col-2">
                            <button id="finishQuiz" class="btn d-none">Done! <span class="badge badge-primary"><i class="fas fa-check"></i></span></button>
                        </div>
                    </div>
                    <div id="quizQuestion"></div>
                </main>
            </div>
        </div>
    </div>

    <script src="/viewScripts/quizActiveScripts.js"></script>
    <script type="text/babel" src="/viewScripts/quizTimerRedux.js"></script>

</body>
</html>