<h2 class="text-primary text-center">User Overview</h2>

                <form id="userDetailForm">
                  
                  <table id="userDetailTable" class="table-hover m-auto">
 
                      <tr>
                          <td width="30%"></td>
                          <td>
                            <span name="id" id="id">{{id}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>Name</td>
                          <td>
                            <span name="name" id="name">{{name}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>Email</td>
                          <td>
                              <span name="email" id="email">{{email}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>Gender</td>
                          <td>
                              <input type="radio" id="male" name="gender" class="mt-2" {{maleCheck gender}}>
                              <label for="male"><i class="fa fa-male" aria-hidden="true"></i> Male</label>
                              <input type="radio" id="female" name="gender" {{femaleCheck gender}}>
                              <label for="female"><i class="fa fa-female" aria-hidden="true"></i> Female</label>
                          </td>
                      </tr>
                      <tr>
                          <td>Age</td>
                          <td>
                              <span name="age" id="age">{{age}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>Role</td>
                          <td>
                              <span name="role" id="role">{{role}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>Verified</td>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" name="verified" id="verified" {{verifiedHelper verified}}>
                                Has been verified
                              </label>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Created</td>
                          <td>
                            <span id="dateCreated" name="dateCreated">{{dateCreated}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>Updated</td>
                          <td>
                            <span id="dateUpdated" name="dateCreated" >{{dateUpdated}}</span>
                          </td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-center">
                          <a data-route-link href="/userManagement.html">User Management</a>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-center">
                          <a data-route-link href="/userManagement.html?id={{id}}">Edit {{name}}</a>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-center">
                          <a data-route-link href="/main.html">Back to home</a>
                        </td>
                      </tr>
                  </table>
